general:
  listen_addr:        127.0.0.1
  listen_port:        8670
  charset:            utf-8
  content_type:       'application/json; charset=utf-8'
  max_workers:        1
  redis:
    hipchat:
      url:            'redis://127.0.0.1:6379?db=0'
    slack:
      url:            'redis://127.0.0.1:6379?db=1'
plugins:
  hipchat:
    hipchat-server:
      room: hipchat-room
      out:
        - slack://slack-server/slack-room
      options:
        endpoint: https://hipchat-server-addr
        token: hipchat-token
  slack:
    slack-server:
      room: slack-room
      out:
        - 'hipchat://hipchat-server/hipchat-room'
      options:
        token: slack-token
modules:
  server:
    routes:
      status:
        handler:  'status'
        name:     'server/status'
        op:       'GET'
